.card {
  padding: 1em;
  margin: 0 1em;
  margin-bottom: 1em;
  display: flex;
  width: 14.0625rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  filter: drop-shadow(-4px 4px 8px rgba(0, 0, 0, 0.5)),
    drop-shadow(4px -4px 8px rgba(0, 0, 0, 0.75));
}

img {
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

button {
  width: 150px;
}
