.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.cartImg {
  width: 2em;
  height: auto;
  margin: 0 2em;
}

.cartItem {
  display: flex;
  margin: 0 auto;
  padding-bottom: 2em;
  border-bottom: 1px;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.cartItemPrice {
  margin: 0 2em;
  font-weight: 600;
}

.cartButton {
  width: 100%;
  padding: 2em 4em;
  word-wrap: break-word;
  margin: 2em 0;
  font-weight: 600;
}
